<h2>Products</h2>

@for (product of products; track product.id) {
    <div>
        <h3>
            <a [title]="product.name + ' details'"
               [routerLink]="['/products', product.id]">
                {{ product.name }}
            </a>
        </h3>

        @if (product.description) {
            <p>Description: {{ product.description }}</p>
        }



        @if (product.cantidad > 5){
            <p style="color: green">Cantidad: {{ product.cantidad }}</p>
        } @else if (product.cantidad >= 1 && product.cantidad <= 5){
            <p style="color: orange">Cantidad: {{ product.cantidad }}</p>
        } @else if (product.cantidad == 0){
            <p style="color: red">Cantidad: {{ product.cantidad }} Producto Agotado</p>
        }



        <button type="button" (click)="share()">Share</button>

        <app-product-alerts
                [product]="product"
                (notify)="onNotify()">
        </app-product-alerts>
    </div>
}